<h1 class="title">Dashboard</h1>

<div class="">
  <div class="control">
    <button class="button is-link" (click)="toggleShowAddChartModal()">
      New Chart
    </button>
  </div>
  <div class="modal" [ngClass]="{ 'is-active': showAddChartModal === true }">
    <app-add-chart-modal
      (modalClosed)="toggleShowAddChartModal()"
    ></app-add-chart-modal>
  </div>
</div>
<!-- charts -->
<app-chart
  *ngFor="let chart of chartService.charts; let idx = index"
  [chartType]="chart.type"
  [fieldNames]="chart.fields"
  [index]="idx"
></app-chart>
