<div class="card mt-4">
  <div class="card-content media">
    <div class="media-left">
      <div class="level">
        <h4 class="subtitle">{{ fieldNames }}</h4>
      </div>
      <div *ngIf="chartData.length > 0 && chartData[0]" [ngSwitch]="chartType">
        <ngx-charts-line-chart
          *ngSwitchCase="'line'"
          [view]="view"
          [results]="chartData"
          [yAxisLabel]="yAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [timeline]="timeline"
          [legend]="legend"
        >
        </ngx-charts-line-chart>
        <ngx-charts-area-chart
          *ngSwitchCase="'area'"
          [view]="view"
          [results]="chartData"
          [yAxisLabel]="yAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [timeline]="timeline"
          [legend]="legend"
        ></ngx-charts-area-chart>
        <ngx-charts-bar-vertical
          *ngSwitchCase="'barVertical'"
          [view]="view"
          [results]="chartData"
          [yAxisLabel]="yAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [legend]="legend"
        ></ngx-charts-bar-vertical>
        <ngx-charts-bar-horizontal
          *ngSwitchCase="'barHorizontal'"
          [view]="view"
          [results]="chartData"
          [yAxisLabel]="yAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [legend]="legend"
        ></ngx-charts-bar-horizontal>
        <ngx-charts-heat-map
          *ngSwitchCase="'heatMap'"
          [view]="view"
          [results]="chartData"
          [yAxisLabel]="yAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [legend]="legend"
        ></ngx-charts-heat-map>
        <ngx-charts-bubble-chart
          *ngSwitchCase="'bubble'"
          [view]="view"
          [results]="chartData"
          [yAxisLabel]="yAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [legend]="legend"
        ></ngx-charts-bubble-chart>
        <ngx-charts-pie-chart
          *ngSwitchCase="'pie'"
          [view]="view"
          [results]="chartData"
          [legend]="legend"
        ></ngx-charts-pie-chart>
      </div>
    </div>
    <div class="media-right">
      <button class="delete" (click)="removeChart()"></button>
    </div>
  </div>
</div>
